<h1>Your cart</h1>

<table border="1">
  <tr>
    <td>product</td>
    <td>quantity</td>
    <td>price</td>

  </tr>

  <% @cart.line_items.each do |line_item| %>

      <tr>
        <td><%= line_item.product.name%></td>
        <td><%= line_item.quantity%></td>
        <td><%= line_item.price%></td>
      </tr>
  <%end%>

</table>

<%= link_to 'Check out', carts_checkout_path %>
<br />
<%= link_to 'Continue Shopping', products_path %>
